SUPABASE_URL=https://kong-r2vq-cardynal.up.railway.app
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=admin@cardynal.io
ADMIN_PASSWORD=
PORT=3001
OPENAI_API_KEY=
FIRECRAWL_URL=https://api-rcog-redis.up.railway.app
CHATWOOT_PLATFORM_URL=https://chat.cardynal.io
CHATWOOT_PLATFORM_TOKEN=
N8N_AGENT_WEBHOOK_URL=
AGENT_API_KEY=
